/* Import all components */

@import url(navbar.css);
@import url(backgrounds.css);
@import url(section_papa.css);
@import url(section_join.css);
@import url(section_equality.css);
@import url(section_exception.css);
@import url(section_quote.css);
@import url(section_rolemodels.css);
@import url(footer.css);
/* 
 *   Basics 
*/

@font-face {
    font-family: 'Red October';
    src: url('/fonts/Red\ October.ttf') format('truetype');
}

/* html Layout */

html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 100%;
    font-family: "Red October";
    box-sizing: border-box;
}

/* html Presentation */

html {
    background: #eeeeee;
}

/* body Layout */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
}

/* section Layout*/

section {
    margin: 0 0 30vh 0;
    scroll-snap-align: start;
}

/* a Presentation */

a {
    display: inline-block;
    color: #fdd008;
    text-decoration: none;
}

/* noSelect Presentation */

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* border-box reset */

*,
*:before,
*:after {
    box-sizing: inherit;
}