/*
 * Second section
*/

/* section Layout */

/* section:nth-of-type(2) Selects second section */

section:nth-of-type(2) {
    width: 100vw;
    height: 100vw;
    max-width: 100%;
    overflow: hidden;
}

section:nth-of-type(2) h1 {
    width: 100vw;
    max-width: 100%;
    text-align: center;
    padding: 1rem 0;
}

section:nth-of-type(2) a {
    display: block;
    width: 7rem;
    margin: 0 auto;
    padding: 1rem 3rem;
    text-align: center;
}

/* section Presentation */

section:nth-of-type(2) a {
    text-transform: uppercase;
    box-shadow: 1px 4px 4px #00000044;
    transition: 200ms;
}

section:nth-of-type(2) a:active {
    box-shadow: 3px 12px 12px #00000044;
}

section:nth-of-type(2) h1 {
    background-color: #d10003;
    color: #fdd008;
    text-transform: uppercase;
    font-size: 2rem;
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: #000000;
}

section:nth-of-type(2) a {
    background-color: #fdd008;
    border-radius: 3rem;
    color: #000000;
    font-size: 2rem;
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: #000000;
}