/* Import base components. */
@import url(../core.css);

/* montserrat-regular - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../../assets/fonts/montserrat-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../assets/fonts/montserrat-v12-latin-ext_latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* html Presentation */
html {
    background-color: #eeeeee;
    color: rgba(0,0,0,.84);
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-display: auto;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -0.003em;
    line-height: 1.58;
    width: 100%;
}

/* img Layout */
img {
    display:block;
    margin: auto auto 20px auto;
    max-width: 100%;
}

/* video Layout */
video {
    display:block;
    margin: auto auto 20px auto;
    max-width: 100%;
}

/* code Presentation */
code {
    background-color: #eeeeee;
    border: 1px solid #999999;
    padding: 2px;
}

/* h1 Layout */
h1 {
    text-align: center;
    font-family: Montserrat;
    font-display: auto;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/* h2 Layout */
h2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 30px;
}

/* h2 Presentation */
h2 {
    color: #8a8a8a;
    font-weight: lighter;
}

/* section-title Layout */
h2.section-title {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* section-title Presentation */
h2.section-title {
    color: #575757;
}

/* a Presentation */
a {
    color: #557c7e;
    text-decoration: underline;
}

/* p Layout */
p {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* body Layout */
body {
    margin: 0 auto;
    width: 1060px;
}

/* article Layout */
article {
    width: 70%;
    margin: auto;
    margin-left: 0;
    padding: 20px;
}

/* article Presentation */
article {
    background-color: #fafafa;
    -webkit-box-shadow: 0px 0px 78px -33px #000000bf;
    -moz-box-shadow: 0px 0px 78px -33px #000000bf;
    box-shadow: 0px 0px 78px -33px #000000bf;
}

/* div inside article Layout */
article div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* h2 inside div inside article Layout */
article div h3 {
    margin: 0.3rem; /* Text margin */
    text-align: left; /* Align text normally */
    font-family: Montserrat; /* Set font */
    font-size: 0.8rem; /* Text size */
}

/* h2 inside div inside article Presentation */
article div h3 {
    color: #8a8a8a; /* Text color */
    font-weight: lighter; /* Light text */
}

/* lastedited Layout */
h3#lastedited {
    text-align: right; /* Align right */
}

/* topButton Presentation */
#topButton {
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #eeeeee; /* Set a background color */
    color: black; /* Text color */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); /* Dropshadow */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); /* Animate changes */
}
  
/* topButton Layout */
#topButton {
    margin: auto; /* Center */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
}

/* topButton hover Presentation */
#topButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); /* Dropshadow */
}

/* media Selectors */
@media only screen and (max-width: 1080px) {
    body {
        width: 900px;
    }
}
@media only screen and (max-width: 940px) {
    body {
        width: 700px;
        margin: auto;
    }
    article {
        margin: auto;
    }
}
@media only screen and (max-width: 768px) {
    body {
        width: 490px;
    }
    h1 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 540px) {
    body {
        top: 0;
        width: 400px;
    }
    h1 {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 380px) {
    body {
        width: 320px;
    }
    h1 {
        font-size: 1rem;
    }
    article{
        width: 80%;
    }
}