/*
 * Fifth section
*/

/* section Layout */

/* section:nth-of-type(5) Selects fifth section */

section:nth-of-type(5) {
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto 10vh auto;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

section:nth-of-type(5) div {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 1fr;
    grid-template-areas: "miyazaki" "quote" "signature";
}

section:nth-of-type(5) p {
    grid-area: quote;
    margin: 5vw;
}

section:nth-of-type(5) h2 {
    width: fit-content;
    grid-area: signature;
    text-align: right;
    margin: 0 5vw auto auto;
}

section:nth-of-type(5) picture {
    width: 100vw;
    height: auto;
    grid-area: miyazaki;
}

@media only screen and (min-width: 850px) {
    section:nth-of-type(5) div {
        grid-template-columns: 42fr 58fr;
        grid-template-rows: 3fr 1fr;
        grid-template-areas: "miyazaki quote" "miyazaki signature";
    }
    section:nth-of-type(5) p {
        margin: 2vw 0 0 0;
    }
    section:nth-of-type(5) picture {
        width: auto;
        height: 416px;
        grid-row-start: miyazaki;
        grid-row-end: signature;
    }
}

/* section Presentation */

section:nth-of-type(5) div {
    color: #ffffff;
    background-color: #000000;
    font-family: Arial;
}

section:nth-of-type(5) p {
    font-size: 6vh;
}

section:nth-of-type(5) h2 {
    font-size: 5vh;
}

@media only screen and (min-width: 850px) {
    section:nth-of-type(5) p {
        font-size: 7vh;
    }
    section:nth-of-type(5) h2 {
        font-size: 5vh;
    }
}